*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
}

a {
  color: #555248;
}

body {
  width: 1366px;
}
header {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 65px;
}

.nav-list {
  display: flex;
  margin-left: 267px;
  margin-right: 278px;
}

.nav-list li {
  margin-right: 65px;
}

.nav-list a:hover {
  color: #A69876;
  cursor: pointer;
}

li {
  list-style-type: none ;
}

header img {
  margin-left: 97px;
}


.search {
  display: flex;
  background-image: url(Search.svg);
  width: 16px;
  height: 16px;
}

.like {
  display: flex;
  background-image: url(Like.svg);
  width: 22px;
  height: 18px;
  margin: 0 23px;
}

.cart {
  display: flex;
  background-image: url(Cart.svg);
  width: 18px;
  height: 16px;
}

.list-button button {
  background-color: white;
  border: none;
}
.first-ad {
  display: flex;
  background-image:url(Ellipse.png) ;
  background-repeat: no-repeat;
  background-position: center;
}

.info h1 {
  margin: 273px 134px 0 185px;

  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;

  color: #1B1A17;
}

.info h2 {
  margin: 16px 0 39px 185px ;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;

  color: #1B1A17;
}

.info p {
  margin: 0 0 64px 185px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.info button {
  margin: 0 0 239px 181px;
  width: 205px;
  height: 64px;
  left: 181px;
  top: 553px;

  background: #444240;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}

.product-presentation img {
  display: flexbox;
}

.popular-models h1 {
  margin: 79px 530px 0 530px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;

  color: #1B1A17;
}

.popular-models a {
  margin: 115px 98px 0 1164px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.card-1 {
  width: 370px;
  margin: 34px;
}

.card-2 {
  width: 370px;
  margin: 34px;
}

.card-3 {
  width: 370px;
  margin: 34px;
}
  